.experience {
  padding-left: 0;
  padding-right: 0;
  .container {
    padding: 0;
  }
}

.experience__header {
  padding: 0 20px;
}

.experience__list {
  padding-top: 10px;
  @include breakpoint(m) {
    padding-top: 20px;
  }
}

.experience__item {
  margin-bottom: 10px;
  padding: 0 20px 20px;
  border-bottom: 1px solid rgba($c-black, 0.05);
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
  @include breakpoint(m) {
    margin-bottom: 20px;
  }
}

/**
Layout
 */

.experience__item-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}


.experience__item-meta {
  margin: 0 5px 0 0;
  @include breakpoint(m) {
    margin: 0;
    padding: 5px 30px 0 0;
  }
}

.experience__item-content {
  @include breakpoint(m) {
    flex: 1 1 0;
  }
}

.experience__item-footer {
  margin-top: 5px;
}

.experience__item-block {
  display: block;
}

.experience__item-date,
.experience__item-tag {
  @include font(14, 16);
  color: $c-light;
}

.experience__item-description {
  margin-top: 5px;
}
